* {
    margin: 0;
    padding: 0;
}

body {
    color: #BAC1C8;
    background-color: #1E202B;
    height: auto;
}

nav {
    background-color: #1E202B;
}

.tit {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
}

.active {
    padding: 1px 20px !important;
    border: #208ED8 2px solid;
    border-radius: 50px;
    color: #208ED8 !important;
    text-decoration: none;
}

.nav-link {
    display: block;
    padding: 1px 20px !important;
}

.nav-link:hover,
&:focus {
    padding: 1px 20px !important;
    border: #208ED8 2px solid;
    border-radius: 50px;
    color: #208ED8;
    text-decoration: none;
}



.sit-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: white;
}

.edit {
    border: 2px;
    background-color: transparent;
}

.edit:hover {
    border: 2px;
}

.nav-item {
    color: white;
    margin-left: 20px;
}

.nav-item a {
    color: white;
}

.home {
    background-image: url(../imgs/banner.png);
    background-size: cover;
    min-height: 350px;
}

.caption2content {
    text-align: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.btn-outline-info {
    border: 0px;
    background-color: #1E202B;
}

.btn-outline-info:hover {
    color: white;
}

::placeholder {
    color: #757575 !important;
}

.forbutton {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 0 40px;
}

.forbutton2 {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 40px;
}

.form-control {
    width: 100%;
    padding: 20px 50px 20px 20px;
    background: #1e202b;
    color: white;
    border: none;
    transition: none;
}

.form-control:focus,
&:hover {
    color: #ced4da;
    background-color: #1E202B;
    border: none;
    box-shadow: none;
}

.card-title {
    background-color: #2D303D;
    color: #798497;
}

.card-title2 {
    background-color: #222530;
    color: #798497;
}

.card-text {
    background-color: #323544;
    min-height: 310px;
}

.card-text2 {
    background-color: #262936;
    min-height: 310px;
}

.locat {
    font-size: 1.2857142857em;
    font-weight: 400;
}

.weather {
    font-family: 'Roboto', sans-serif;
    font-size: 90px;
    color: white;
}

.weatherstate {
    color: #208ED8;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.forposition {
    position: relative;
    bottom: 150px;
}

.forbg {
    background-color: #262936;
}

.fa-brands {
    font-size: 20px;
}